<div appCesium>
    <div class="cesiumContainer" style="position:absolute; z-index : 1;">
        <select (change)="selectColor($event)" >
            <option>Select Option</option>
            <option value="red">Red</option>
            <option value="black">blue</option>
            <option value="green">Green</option>
        </select>

        <div [ngSwitch]="choice">
            <h1 style="color: red;" *ngSwitchCase="'red'">REd Color Selected</h1>
            <h1 style="color: blue;" *ngSwitchCase="'black'">Black Color Selected</h1>
            <h1 style="color: green;" *ngSwitchCase="'green'">Green Color Selected</h1>
            <h1 style="color: grey;" *ngSwitchDefault>Please Select any</h1>
        </div>
    </div>
    </div>